.feed
   &__wrap
      display: flex
      flex-wrap: wrap
      
   &__container
      max-width: 1120px
      margin: 0 auto
      @media screen and (max-width: 600px)
         max-width: 450px   
   &__block
      background: #f6f3f3
      max-width: 525px
      border-radius: 5px
      
   &__text
      font-style: italic
      max-width: 520px
      padding: 30px
      color: var(--color-grey)
   &__inner
      display: flex
      color: var(--color-dark)
      padding-top: 10px
   &__icon
      margin-right: 20px
      
.main__title
   text-align: center
   padding-top: 80px